*{
	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: medium;
	scrollbar-color: gray rgb(60, 60, 60);
	scrollbar-width: thin;
}
*::-webkit-scrollbar {
	width: 8px;
	background-color: rgb(60, 60, 60);
}
*::-webkit-scrollbar-thumb {
	background: gray; 
}
body{
	margin: 0;
	background-color: rgb(51, 51, 51);
	overflow: hidden;
}

#main-ui{
	display: grid;
	width: 100vw;
	height: 100vh;
	grid-template-columns: repeat(24, 1fr);
	grid-template-rows: repeat(20, 1fr);
	gap: 5px;
}

textarea{
	resize: none;
	white-space: pre;
	border: solid gray 1px;
	border-radius: 2px;
	background-color: rgb(75, 75, 75);
}
#variable-input{
	grid-column: 1/5;
	grid-row: 1/10;
}
#model-input{
	grid-column: 1/9;
	grid-row: 10/21;
}

.button{
	background-color: rgb(75, 75, 75);
	border: solid gray 1px;
	border-radius: 2px;
}
.button:hover{ background-color: rgb(90, 90, 90); }
.button:active{ background-color: rgb(80, 80, 80); }
#run-button{
	grid-column: 7/9;
	grid-row: 1/2;
}

.inline-button{
	background: none;
	border: solid transparent 1px;
	border-radius: 10px;
}
.inline-button:hover{ background-color: rgb(90, 90, 90); }
.inline-button:active{ background-color: rgb(80, 80, 80); }

#tracked-vars{
	grid-column: 5/7;
	grid-row: 1/6;
	background-color: rgb(75, 75, 75);
	border: solid gray 1px;
	border-radius: 2px;
	text-align: center;
	overflow-y: scroll;
}

#simulation-runs{
	grid-column: 5/7;
	grid-row: 6/10;
	background-color: rgb(75, 75, 75);
	border: solid gray 1px;
	border-radius: 2px;
	text-align: center;
	overflow-y: scroll;
}

#display-var-x{
	grid-column: 7/9;
	grid-row: 2/6;
	background-color: rgb(75, 75, 75);
	border: solid gray 1px;
	border-radius: 2px;
	text-align: center;
	overflow-y: scroll;
}
#display-var-y{
	grid-column: 7/9;
	grid-row: 6/10;
	background-color: rgb(75, 75, 75);
	border: solid gray 1px;
	border-radius: 2px;
	text-align: center;
	overflow-y: scroll;
}

.chart-container{
	grid-column: 9/25;
	grid-row: 1/21;
}